.App {
  font-family: sans-serif;
  text-align: center;
}


.active{
  color:'yellow';
}
.thankYouParent {
  display: flex;
  border: 1px dotted red;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  justify-content: center;
}

.thankYouBox {
  display: flex;
  position: relative;
  text-align: center;
  border: 5px solid #ffffff;
  text-transform: uppercase;
}